.ask {
      border-radius: 100px;
      border-bottom:4px ;
      background: #ffffff;
      padding: 1px; 
      width: 150px;
      height: 150px;  
      margin: 0 auto;
      display: flex;
    }


.container {
  width: 100%;
}

form {
  width: 100%;
}

form input {
  width: 50%;
}




.input {
border-radius: 8px;
}

th {
  width: 50%;
}

td {
  width: 50%;
}

body {
  background-image: url("Pictures/C.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.input {
  padding:2px ;
}

fieldset {
padding: 10px;
}




