.ask {
      border-radius: 100px;
      border-bottom:4px ;
      background: #ffffff;
      padding: 1px; 
      width: 150px;
      height: 150px;  
      margin: 0 auto;
      display: flex;
    }


.container {
  width: 100%;
}

form {
  width: 100%;
}

form input {
  width: 50%;
}




.input {
border-radius: 8px;
}

th {
  width: 50%;
}

td {
  width: 50%;
}

body {
  background-image: url("Pictures/A.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.input {
  padding:3px ;
}

fieldset {
padding: 10px;
}


a {
  border-radius: 8px;
  border: 1px solid #333;
  display: flex;
    margin: 8px 8px;
  padding: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 810px;
  background-color: rgb(255, 255, 255);
}


label, h2, p, legend {
  color: aqua;
}


.settings {
    display: inline;
    border-radius: 10px;
      border-bottom:4px ;
      background: #ffffff;
      padding: 3px; 
      width: 120px;
      height: 120px;  
      margin-inline: 20px;
      border: 80px;
}


img.settings:hover {
  border: 0.2rem solid red;
}


h1 {
  float: right;
  color: aqua;

}